# NetBeans specific
dist/
nb-configuration.xml


# Maven
target/

# Configuration files with sensitive data
src/main/resources/config.properties

# IDE Files
.idea/
*.iml
.settings/
.classpath
.project